<header class="page-header page-header-left-inline-breadcrumb">
    <h2 class="font-weight-bold text-6">Orders</h2>
    <div class="right-wrapper">
        <ol class="breadcrumbs">
            <li><span>Home</span></li>
            <li><span>Order</span></li>
        </ol>
    </div>
</header>

<!-- start: page -->
<div class="row">
    <div class="col">

        <div class="card card-modern">
            <div class="card-body">
                <div class="datatables-header-footer-wrapper">
                    <div class="datatable-header">
                        <div class="row align-items-center mb-3">
                            <div class="col-8 col-lg-auto ms-auto ml-auto mb-3 mb-lg-0">
                                <div class="d-flex align-items-lg-center flex-column flex-lg-row">
                                    <label class="ws-nowrap me-3 mb-0">Filter By:</label>
                                    <select class="form-control select-style-1 filter-by" name="filter-by">
                                        <option value="all" selected>All</option>
                                        <option value="1">ID</option>
                                        <option value="2">Customer Name</option>
                                        <option value="3">Date</option>
                                        <option value="4">Total</option>
                                        <option value="5">Status</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-lg-auto ps-lg-1">
                                <div class="search search-style-1 search-style-1-lg mx-lg-auto">
                                    <div class="input-group">
                                        <input type="text" class="search-term form-control" name="search-term" id="search-term" placeholder="Search Order">
                                        <button class="btn btn-default" type="submit"><i class="bx bx-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <table class="table table-ecommerce-simple table-borderless table-striped mb-0" id="datatable-ecommerce-list" style="min-width: 640px;">

                        <thead>
                            <tr>
                                <th width="8%">ID</th>
                                <th width="28%">Customer Name</th>
                                <th width="18%">Date</th>
                                <th width="18%">Total</th>
                                <th width="15%">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each orders}}
                            <tr>
                                <td><a href="/admin/order/{{this.id}}"><strong>{{this.id}}</strong></a></td>
                                <td><a href="/admin/order/{{this.id}}"><strong>{{this.name}}</strong></a></td>
                                <td>{{this.date}}</td>
                                <td>{{this.total}} đ</td>
                                <td><span class="ecommerce-status ">{{this.status}}</span></td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    <hr class="solid mt-5 opacity-4">
                    <div class="datatable-footer">
                        <div class="row align-items-center justify-content-between mt-3">
                            {{!-- <div class="col-md-auto order-1 mb-3 mb-lg-0">
                                <div class="d-flex align-items-stretch">
                                    <div class="d-grid gap-3 d-md-flex justify-content-md-end me-4">
                                        <select class="form-control select-style-1 bulk-action" name="bulk-action" style="min-width: 170px;">
                                            <option value="" selected>Bulk Actions</option>
                                            <option value="delete">Delete</option>
                                        </select>
                                        <a href="ecommerce-orders-detail.html" class="bulk-action-apply btn btn-light btn-px-4 py-3 border font-weight-semibold text-color-dark text-3">Apply</a>
                                    </div>
                                </div>
                            </div> --}}
                            <div class="col-lg-auto text-center order-3 order-lg-2">
                                <div class="results-info-wrapper"></div>
                            </div>
                            <div class="col-lg-auto order-2 order-lg-3 mb-3 mb-lg-0">
                                <div class="pagination-wrapper">
                                    <div class="dataTables_paginate paging_simple_numbers" id="datatable-ecommerce-list_paginate">
                                        <ul class="pagination pagination-modern pagination-modern-spacing justify-content-center">
                                            <li class="paginate_button page-item previous disabled" id="datatable-ecommerce-list_previous">
                                                <a href="#" aria-controls="datatable-ecommerce-list" data-dt-idx="0" tabindex="0" class="page-link"><i class="fas fa-chevron-left"></i>
                                                </a>
                                            </li>
                                            {{#times pageCount}}
                                            <li class="paginate_button page-item active">
                                                <a href="#" aria-controls="datatable-ecommerce-list" data-dt-idx="1" tabindex="0" class="page-link">{{this}}</a>
                                            </li>
                                            {{/times}}
                                            <li class="paginate_button page-item next" id="datatable-ecommerce-list_next">
                                                    <a href="#" aria-controls="datatable-ecommerce-list" data-dt-idx="3" tabindex="0" class="page-link"><i class="fas fa-chevron-right"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </table>
            </div>
        </div>

    </div>
</div>
<!-- end: page -->