<!-- breadcrumbs-area-start -->
<div class="breadcrumbs-area mb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumbs-menu">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#" class="active">cart</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumbs-area-end -->
<!-- entry-header-area-start -->
<div class="entry-header-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="entry-header-title">
                    <h2>Cart</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- entry-header-area-end -->
<!-- cart-main-area-start -->
<div class="cart-main-area mb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <form action="#">
                    <div class="table-content table-responsive mb-15 border-1">
                        <table>
                            <thead>
                                <tr>
                                    <th class="product-thumbnail">Image</th>
                                    <th class="product-name">Product</th>
                                    <th class="product-price">Price</th>
                                    <th class="product-quantity">Quantity</th>
                                    <th class="product-subtotal">Total</th>
                                    <th class="product-remove">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each books}}
                                <tr>
                                    <td class="product-thumbnail"><a href="/book/{{this.id}}"><img src="{{this.image}}" alt="book" /></a>
                                    </td>
                                    <td class="product-name"><a href="/book/{{this.id}}">{{this.title}}</a></td>
                                    <td class="product-price"><span class="amount">{{this.price}} đ</span></td>
                                    <td class="product-quantity"><input data-id="{{this.id}}" class="quantity-value" type="number" min="1" max="{{this.quantity_left}}" value="{{this.quantity}}"></td>
                                    <td class="product-subtotal">{{this.subtotal}} đ</td>
                                    <td class="product-remove"><a onclick="deleteCartDetail({{this.id}})"><i class="fa fa-times"></i></a></td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-6 col-12">
                <div class="buttons-cart mb-30">
                    <ul>
                        <li><a href="#" onclick="updateCartDetails()">Update Cart</a></li>
                        <li><a href="/">Continue Shopping</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-12">
                <div class="cart_totals">
                    <div class="wc-proceed-to-checkout">
                        <a href="checkout">Proceed to Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- cart-main-area-end -->