<!-- slider-area-start -->
<div class="slider-area mt-30">
    <div class="container">
        <div class="slider-active owl-carousel">
            <div class="single-slider pt-100 pb-145 bg-img" style="background-image:url(/img/slider/13.jpg);">
                <div class="row">
                    <div class="col-md-12">
                        <div class="slider-content-3 slider-animated-1 pl-100">
                            <h1>A Game <br>Fuck up</h1>
                            <p class="slider-sale">
                                <span class="sale1">-20%</span>
                                <span class="sale2">
                                    <strong>£80.00</strong>
                                    £60.00
                                </span>
                            </p>
                            <a href="#">Shop now!</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single-slider pt-100 pb-145 bg-img" style="background-image:url(/img/slider/12.jpg);">
                <div class="row">
                    <div class="col-md-12">
                        <div class="slider-content-3 slider-animated-1 pl-100">
                            <h1>Wake The <br>of Thrones</h1>
                            <p class="slider-sale">
                                <span class="sale1">-20%</span>
                                <span class="sale2">
                                    <strong>£80.00</strong>
                                    £60.00
                                </span>
                            </p>
                            <a href="#">Shop now!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider-area-end -->
<!-- featured-area-start -->
<div class="new-book-area pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center section-title section-title-res mb-30">
                    <h2>Featured</h2>
                </div>
            </div>
        </div>
        <div class="tab-active owl-carousel">
            {{#each featuredBooks}}
            <div class="tab-total">
                <!-- single-product-start -->
                <div class="product-wrapper">
                    <div class="product-img">
                        <a href="/book/{{this.id}}">
                            <img src="{{this.image}}" alt="book" class="primary" />
                        </a>
                        <div class="product-flag">
                            <ul>
                                {{#if this.is_new}}
                                <li><span class="sale">new</span></li>
                                {{/if}}
                                {{#if this.sale}}
                                <li><span class="discount-percentage">-{{this.sale}}%</span></li>
                                {{/if}}
                            </ul>
                        </div>
                    </div>
                    <div class="text-center product-details">
                        <div class="product-rating">
                            <ul>
                                {{#times this.rate}}
                                <i class="fa fa-star staring"></i>
                                {{/times}}
                            </ul>
                        </div>
                        <h4><a href="/book/{{this.id}}">{{this.title}}</a></h4>
                        <div class="product-price">
                            <ul>
                                <li>{{this.price}} đ</li>
                                {{#if this.sale}}
                                <li class="old-price">{{this.old_price}} đ</li>
                                {{/if}}
                            </ul>
                        </div>
                    </div>
                    <div class="product-link">
                        <div class="product-button">
                            <a onclick="addToCart({{this.id}})" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                        </div>
                        <div class="add-to-link">
                            <ul>
                                <li><a href="/book/{{this.id}}" title="Details"><i
                                            class="fa fa-external-link"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- single-product-end -->
            </div>
            {{/each}}
        </div>
    </div>
</div>
<!-- featured-area-start -->
<!-- banner-area-start -->
<div class="banner-area-5 mtb-100">
</div>
<!-- banner-area-end -->
<!-- bestseller-area-start -->
<div class="bestseller-area pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-12">
                <div class="deal-active owl-carousel">
                    {{#each onsaleBooks}}
                    <div class="single-deal">
                        <div class="deal-off-day">
                            <div class="deal-off-day-title">
                                <h1>DEALS OF THE DAY</h1>
                            </div>
                            <h2><a href="#">{{this.title}}</h2>
                            <div class="sale-area">
                                <div class="price-box">
                                    <span class="old-sale">{{this.old_price}}</span>
                                    <span class="new-sale">{{this.price}}</span>
                                </div>
                            </div>
                            <p>{{this.short_description}}</p>
                            <div class="timer">
                                <div data-countdown="2022/12/15"></div>
                            </div>
                        </div>
                        <div class="banner-img-3">
                            <a href="/book/{{this.id}}"><img src="{{this.image}}" alt="banner" /></a>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- bestseller-area-end -->
<!-- product-area-start -->
<div class="product-area pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center section-title bt pt-100 mb-50">
                    <h2>Our Products</h2>
                    <p>Browse the collection of our best selling and top interresting products. <br /> ll definitely
                        find what you are looking for.</p>
                </div>
            </div>
            <div class="col-lg-12">
                <!-- tab-menu-start -->
                <div class="mb-40 text-center tab-menu">
                    <ul class="nav justify-content-center">
                        <li><a class="active" href="#Audiobooks" data-toggle="tab">New Arrival</a></li>
                        <li><a href="#books" data-toggle="tab">OnSale</a></li>
                        <li><a href="#bussiness" data-toggle="tab">Featured Products</a></li>
                    </ul>
                </div>
                <!-- tab-menu-end -->
            </div>
        </div>
        <!-- tab-area-start -->
        <div class="tab-content">
            <div class="tab-pane fade show active" id="Audiobooks">
                <div class="tab-active owl-carousel">
                    <!-- single-product-start -->
                    {{#each newBooks}}
                    <div class="product-wrapper">
                        <div class="product-img">
                            <a href="/book/{{this.id}}">
                                <img src="{{this.image}}" alt="book" class="primary" />
                            </a>
                            <div class="product-flag">
                                <ul>
                                    {{#if this.is_new}}
                                    <li><span class="sale">new</span></li>
                                    {{/if}}
                                    {{#if this.sale}}
                                    <li><span class="discount-percentage">-{{this.sale}}%</span></li>
                                    {{/if}}
                                </ul>
                            </div>
                        </div>
                        <div class="text-center product-details">
                            <div class="product-rating">
                                <ul>
                                    {{#times this.rate}}
                                    <i class="fa fa-star staring"></i>
                                    {{/times}}
                                </ul>
                            </div>
                            <h4><a href="/book/{{this.id}}">{{this.title}}</a></h4>
                            <div class="product-price">
                                <ul>
                                    <li>{{this.price}} đ</li>
                                    {{#if this.sale}}
                                    <li class="old-price">{{this.old_price}} đ</li>
                                    {{/if}}
                                </ul>
                            </div>
                        </div>
                        <div class="product-link">
                            <div class="product-button">
                                <a onclick="addToCart({{this.id}})" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                            </div>
                            <div class="add-to-link">
                                <ul>
                                    <li><a href="/book/{{this.id}}" title="Details"><i class="fa fa-external-link"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    <!-- single-product-end -->
                </div>
            </div>
            <div class="tab-pane fade" id="books">
                <div class="tab-active owl-carousel">
                    <!-- single-product-start -->
                    {{#each onsaleBooks}}
                    <div class="product-wrapper">
                        <div class="product-img">
                            <a href="/book/{{this.id}}">
                                <img src="{{this.image}}" alt="book" class="primary" />
                            </a>
                            <div class="quick-view">
                                <a class="action-view" href="#" data-target="#productModal" data-toggle="modal"
                                    title="Quick View">
                                    <i class="fa fa-search-plus"></i>
                                </a>
                            </div>
                            <div class="product-flag">
                                <ul>
                                    {{#if this.is_new}}
                                    <li><span class="sale">new</span></li>
                                    {{/if}}
                                    {{#if this.sale}}
                                    <li><span class="discount-percentage">-{{this.sale}}%</span></li>
                                    {{/if}}
                                </ul>
                            </div>
                        </div>
                        <div class="text-center product-details">
                            <div class="product-rating">
                                <ul>
                                    {{#times this.rate}}
                                    <i class="fa fa-star staring"></i>
                                    {{/times}}
                                </ul>
                            </div>
                            <h4><a href="/book/{{this.id}}">{{this.title}}</a></h4>
                            <div class="product-price">
                                <ul>
                                    <li>{{this.price}} đ</li>
                                    {{#if this.sale}}
                                    <li class="old-price">{{this.old_price}} đ</li>
                                    {{/if}}
                                </ul>
                            </div>
                        </div>
                        <div class="product-link">
                            <div class="product-button">
                                <a onclick="addToCart({{this.id}})" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                            </div>
                            <div class="add-to-link">
                                <ul>
                                    <li><a href="/book/{{this.id}}" title="Details"><i
                                                class="fa fa-external-link"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    <!-- single-product-end -->
                </div>
            </div>
            <div class="tab-pane fade" id="bussiness">
                <div class="tab-active owl-carousel">
                    <!-- single-product-start -->
                    {{#each featuredBooks}}
                    <div class="product-wrapper">
                        <div class="product-img">
                            <a href="/book/{{this.id}}">
                                <img src="{{this.image}}" alt="book" class="primary" />
                            </a>
                            <div class="product-flag">
                                <ul>
                                    {{#if this.is_new}}
                                    <li><span class="sale">new</span></li>
                                    {{/if}}
                                    {{#if this.sale}}
                                    <li><span class="discount-percentage">-{{this.sale}}%</span></li>
                                    {{/if}}
                                </ul>
                            </div>
                        </div>
                        <div class="text-center product-details">
                            <div class="product-rating">
                                <ul>
                                    {{#times this.rate}}
                                    <i class="fa fa-star staring"></i>
                                    {{/times}}
                                </ul>
                            </div>
                            <h4><a href="/book/{{this.id}}">{{this.title}}</a></h4>
                            <div class="product-price">
                                <ul>
                                    <li>{{this.price}} đ</li>
                                    {{#if this.sale}}
                                    <li class="old-price">{{this.old_price}} đ</li>
                                    {{/if}}
                                </ul>
                            </div>
                        </div>
                        <div class="product-link">
                            <div class="product-button">
                                <a onclick="addToCart({{this.id}})" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
                            </div>
                            <div class="add-to-link">
                                <ul>
                                    <li><a href="/book/{{this.id}}" title="Details"><i class="fa fa-external-link"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    <!-- single-product-end -->
                </div>
            </div>
        </div>
        <!-- tab-area-end -->
    </div>
</div>
<!-- product-area-end -->
<!-- recent-post-area-start -->
<div class="recent-post-area pb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center section-title section-title-res pt-100 bt-3 mb-30">
                    <h2>Latest from our blog</h2>
                </div>
            </div>
            <div class="text-center post-active owl-carousel">
                {{#each blogs}}
                <div class="col-lg-12">
                    <div class="single-post">
                        <div class="post-img">
                            <a href="/blog/{{this.id}}"><img src="/img/post/1.jpg" alt="post" /></a>
                            <div class="blog-date-time">
                                <span class="day-time">{{this.day}}</span>
                                <span class="moth-time">{{this.month}}</span>
                            </div>
                        </div>
                        <div class="post-content">
                            <h3><a href="/blog/{{this.id}}">{{this.title}}</a></h3>
                            <span class="meta-author">{{this.username}}</span>
                            <p class="post-body">{{this.body}}</p>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
<!-- recent-post-area-end -->
<!-- banner-area-start -->
<div class="banner-area banner-res-large pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="single-banner mb-30">
                    <div class="banner-img">
                        <a href="#"><img src="/img/banner/1.png" alt="banner" /></a>
                    </div>
                    <div class="banner-text">
                        <h4>Free shipping item</h4>
                        <p>For all orders over $500</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="single-banner mb-30">
                    <div class="banner-img">
                        <a href="#"><img src="/img/banner/2.png" alt="banner" /></a>
                    </div>
                    <div class="banner-text">
                        <h4>Money back guarantee</h4>
                        <p>100% money back guarante</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="single-banner mb-30">
                    <div class="banner-img">
                        <a href="#"><img src="/img/banner/3.png" alt="banner" /></a>
                    </div>
                    <div class="banner-text">
                        <h4>Cash on delivery</h4>
                        <p>Lorem ipsum dolor consect</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                <div class="single-banner mb-30">
                    <div class="banner-img">
                        <a href="#"><img src="/img/banner/4.png" alt="banner" /></a>
                    </div>
                    <div class="banner-text">
                        <h4>Help & Support</h4>
                        <p>Call us : + 0123.4567.89</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- banner-area-end -->
<!-- social-group-area-start -->
<div class="social-group-area ptb-60 bt">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-12">
                <div class="section-title-3">
                    <h3>Latest Tweets</h3>
                </div>
                <div class="twitter-content">
                    <div class="twitter-icon">
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </div>
                    <div class="twitter-text">
                        <p>
                            Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum.
                            Mirum notare quam
                        </p>
                        <a href="#">koparion</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
                <div class="section-title-3">
                    <h3>Stay Connected</h3>
                </div>
                <div class="link-follow">
                    <ul>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                        <li><a href="#"><i class="fa fa-flickr"></i></a></li>
                        <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- social-group-area-end -->
<script>
    const body = $('.post-body').text()
    $('.post-body').text(body.slice(0, 100))
</script>