<!-- breadcrumbs-area-start -->
<div class="breadcrumbs-area mb-70">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="breadcrumbs-menu">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#" class="active">shop</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- breadcrumbs-area-end -->
<!-- shop-main-area-start -->
<div class="shop-main-area mb-70">
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-12 col-12 order-lg-1 order-2 mt-sm-50 mt-xs-40">
				<div class="shop-left">
					<div class="section-title-5 mb-30">
						<h2>Shopping Options</h2>
					</div>
					<div class="left-title mb-20">
						<h4>Category</h4>
					</div>
					<div class="left-menu mb-30">
						<ul class="categories-list">
							{{#each categories}}
							<li><a href="?categoryID={{this.id}}">{{this.name}}<span>({{this.quantity}})</span></a></li>
							{{/each}}
						</ul>
					</div>
					<div class="left-title mb-20">
						<h4>Top 5</h4>
					</div>
					<div class="random-area mb-30">
						<div class="product-active-2 owl-carousel">
							<div class="product-total-2">
								{{#each featuredBooks}}
								<div class="single-most-product bd mb-18">
									<div class="most-product-img">
										<a href="/book/{{this.id}}"><img src="{{this.image}}" alt="book" /></a>
									</div>
									<div class="most-product-content">
										<div class="product-rating">
											<ul>
												{{#times this.rate}}
												<li><a href="#"><i class="fa fa-star staring"></i></a></li>
												{{/times}}
											</ul>
										</div>
										<h4><a href="/book/{{this.id}}">{{this.title}}</a></h4>
										<div class="product-price">
											<ul>
												<li>{{this.price}}</li>
												<li class="old-price">{{this.old_price}}</li>
											</ul>
										</div>
									</div>
								</div>
								{{/each}}
							</div>
						</div>
					</div>
					<div class="banner-area mb-30">
						<div class="banner-img-2">
							<a href="#"><img src="img/banner/31.jpg" alt="banner" /></a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-9 col-md-12 col-12 order-lg-2 order-1">
				<div class="category-image mb-30">
					<a href="#"><img src="img/banner/32.jpg" alt="banner" /></a>
				</div>
				<div class="section-title-5 mb-30">
					<h2>Book</h2>
				</div>
				<div class="toolbar mb-30">
					<div class="shop-tab">
						<div class="tab-3">
							<ul class="nav">
								<li><a class="active" href="#th" data-toggle="tab"><i
											class="fa fa-th-large"></i>Grid</a></li>
								<li><a href="#list" data-toggle="tab"><i class="fa fa-bars"></i>List</a></li>
							</ul>
						</div>
						<div class="list-page">
							<p>Items 1-9 of 11</p>
						</div>
					</div>

					<div class="toolbar-sorter">
						<span>Sort By</span>
						<select id="sorter" class="sorter-options" data-role="sorter">
							<option selected="selected" value="position"> Position </option>
							<option value="name"> Product Name </option>
							<option value="price"> Price </option>
						</select>
					</div>
				</div>
				<!-- tab-area-start -->
				<div class="tab-content">
					<div class="tab-pane fade show active" id="th">
						<div class="row">
							{{#each books}}
							<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
								<!-- single-product-start -->
								<div class="product-wrapper mb-40">
									<div class="product-img">
										<a href="/book/{{this.id}}">
											<img src="{{this.image}}" alt="book" class="primary" />
										</a>
										<div class="quick-view">
											<a href="#" class="action-view" data-target="#productModal{{this.id}}"
												data-toggle="modal" title="Quick View">
												<i class="fa fa-search-plus"></i>
											</a>
										</div>
										<div class="product-flag">
											<ul>
												{{#if this.is_new}}
												<li><span class="sale">new</span></li>
												{{/if}}
												{{#if this.sale}}
												<li><span class="discount-percentage">-{{this.sale}}%</span></li>
												{{/if}}
											</ul>
										</div>
									</div>
									<div class="product-details text-center">
										<div class="product-rating">
											<ul>
												{{#times this.rate}}
												<li><i class="fa fa-star staring"></i></li>
												{{/times}}
											</ul>
										</div>
										<h4><a href="/book/{{this.id}}">{{this.title}}</a></h4>
										<div class="product-price">
											<ul>
												<li>{{this.price}} đ</li>
											</ul>
										</div>
									</div>
									<div class="product-link">
										<div class="product-button">
											<a onclick="addToCart({{this.id}})" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
										</div>
										<div class="add-to-link">
											<ul>
												<li><a href="book/{{this.id}}" title="Details"><i class="fa fa-external-link"></i></a></li>
											</ul>
										</div>
									</div>
								</div>
								<!-- single-product-end -->
							</div>
							{{> modal this}}
							{{/each}}
						</div>
					</div>
					<div class="tab-pane fade" id="list">
						<!-- single-shop-start -->
						{{#each books}}
						<div class="single-shop mb-30">
							<div class="row">
								<div class="col-lg-4 col-md-4 col-12">
									<div class="product-wrapper-2">
										<div class="product-img">
											<a href="/book/{{this.id}}">
												<img src="{{this.image}}" alt="book" class="primary" />
											</a>
										</div>
									</div>
								</div>
								<div class="col-lg-8 col-md-8 col-12">
									<div class="product-wrapper-content">
										<div class="product-details">
											<div class="product-rating">
												<ul>
													{{#times this.rate}}
													<li><i class="fa fa-star staring"></i></li>
													{{/times}}
												</ul>
											</div>
											<h4><a href="/book/{{this.id}}">{{this.title}}</a></h4>
											<div class="product-price">
												<ul>
													<li>{{this.price}}</li>
													<li class="old-price">{{this.old_price}}</li>
												</ul>
											</div>
											<p>{{this.short_description}}</p>
										</div>
										<div class="product-link">
											<div class="product-button">
												<a onclick="addToCart({{this.id}})" title="Add to cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
											<div class="add-to-link">
												<ul>
													<li><a href="book/{{this.id}}" title="Details"><i class="fa fa-external-link"></i></a></li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						{{> modal}}
						{{/each}}
						<!-- single-shop-end -->
					</div>
				</div>
				<!-- tab-area-end -->
				<!-- pagination-area-start -->
				<div class="pagination-area mt-50">
					<div class="list-page-2">
						<p>Items 1-9 of 11</p>
					</div>
					<div class="page-number">
						<ul>
							<li><a href="#" class="active">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#" class="angle"><i class="fa fa-angle-right"></i></a></li>
						</ul>
					</div>
				</div>
				<!-- pagination-area-end -->
			</div>
		</div>
	</div>
</div>
<!-- shop-main-area-end -->
